* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: radial-gradient(circle, rgb(55, 10, 144), black);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 100px;
    text-shadow: 10px 10px 18px #000000;
}

.foto-container {
    margin-top: 20px;
    margin-right: 100px;
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.perfil h1 {
    display: flex;
    margin-top: 10px;
    justify-content: left;
    padding-left: 1%;
    font-size: 2.5em;
    color: #ffffff;
}

.perfil h2 {
    display: flex;
    margin-top: 10px;
    justify-content: left;
    padding-left: 1%;
    font-size: 1.6em;
    color: #aeff00;
}

.content-description {
    text-align: justify;
    font-size: 1.3em;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
}

.content-description strong {
    color: #f6ff00;
    font-weight: bold;
}

.project-description strong {
    color: #f6ff00;
}

#container {
    max-width: 1300px;
    margin: 6em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 5px rgb(5, 17, 76);
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-btn {
    box-shadow: 1px 1px 20px 5px #122681;
    background: linear-gradient(100deg, #411794, black);
    border: none;
    color: #ffffff;
    border-radius: 8px 8px 8px 8px;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.8s ease;
}

.tab-btn.active {
    background: linear-gradient(5deg, #411794, black);
    color: #ffffff;
}

.tab-btn:hover {
    color: #aeff00;
}

.content {
    display: none;
    padding: 20px;
}

.content.show {
    display: block;
}

.content-img {
    display: block;
    margin: 0 auto;
    border-radius: 2%;
    width: 390px;
    height: 220px;
}

.project-item {
    margin-bottom: 20px;
}

.project-languages {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    gap: 10px;
    margin-top: 15px; /* Espaço abaixo das imagens */
}

.project-languages img {
    width: 80px;
    height: 80px;
}

.project-description {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    text-align: justify;
}

/* Dentro da seção #habilidades */
#habilidades .infos {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-category strong {
    color: #f6ff00;
}

.skills-category {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    flex: 1 1 calc(24% - 50px);
    max-width: calc(50% - 90px);
    color: #ffffff;
}

.skills-category h2 {
    color: #aeff00;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.skills-category ul {
    list-style-type: none;
    padding: 0;
}

.skills-category ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

footer {
    font-size: 1.2em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: #000000; /* Cor do trilho (track) da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do trilho */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Cor do "polegar" (thumb) da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: #9ea19e; /* Cor do polegar ao passar o mouse */
}

@media (max-width: 768px) {
    .perfil {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .foto-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .foto {
        width: 150px;
        height: 150px;
    }

    .perfil h1,
    .perfil h2 {
        font-size: 1.5em;
        padding-left: 0;
    }

    .content-description {
        font-size: 0.9em;
        padding: 10px;
    }

    .tab-buttons {
        flex-direction: column;
        align-items: center;
    }

    .tab-btn {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .perfil h1,
    .perfil h2 {
        font-size: 1.2em;
    }

    .content-description {
        font-size: 0.8em;
    }
}